#peoplecontainer {

}
.person {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #272727;
  font-size: 20px;
  padding-left: 15px;
}
#personnameheader {
  display: inline-block;
}
#personnameheader a {
  color: #f3ce06e6;
  text-decoration: none;
}
#personnameheader a:hover {
  text-decoration: underline;
}
#personbio{
  display: inline-block;
}
