<div class="show-people-wrapper">
  <% if(people.length > 0) { people.forEach(function(person) { %>
    <div class="profile-item-wrapper">
      <div class="profile-item" style="margin-top: 0px">
        <img src="/pictures/kitten.jpg" style="width: 40px; height: 40px; border: 1px solid #272a33; border-radius: 100%;"></img>
        <div class="profile-name-and-bio">
          <h1 class="profile-item-name"><a href="/profile/<%= person.name %>"><%= person.name %></a></h1>
          <div class="profile-item-bio-wrapper">
            <p><%= person.bio %></p>
          </div>
        </div>
      </div>
      <div class="profile-item-margin-separator"></div>
      <div class="profile-item-fol-but-wrapper">
        <button class="fol-unf-button">Follow</button>
      </div>
    </div>
  <% }) } else { %>
    <h2 style="text-align: center">Nothing to see here!</h2>
  <% } %>
</div>
